# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# NestJS Server Configuration
PORT=3001
API_URL=http://localhost:3001

# Next.js Frontend Configuration
NEXT_PUBLIC_API_URL=http://localhost:3001
